.Game-page {
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;

  .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 4px dotted black;

    margin-bottom: 20px;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;

    .header-left > div > img {
      max-height: 80px;
    }
    .header-left > div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .header-left {
      display: flex;
      gap: 20px;
    }

    .header-left > div > p {
      margin: 0;
    }
  }

  .body > div > img {
    max-width: 1600px;
    position: relative;
    min-height: 1200px;
  }

  .body {
    position: relative;
    height: 1200px;
    width: 1600px;
  }

  .body > div {
    margin: 0px 100px;
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    box-sizing: border-box;
  }
  .popup-container {
    /* height: 80px; */
    position: absolute;
    /* width: 80px; */
    /* border-radius: 40px; */
  }

  .popup {
    border: 1px dotted black;

    display: flex;
    flex-direction: column;
  }

  .popup-list {
    min-width: max-content;
    display: flex;
    width: 100px;
    flex-direction: column;
  }

  .popup-list > button {
    height: 45px;
    width: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    background-color: white;
    border: none;
    cursor: pointer;
  }

  .popup-list > button:not(:last-child) {
    border-bottom: 1px solid black;
  }

  .popup-list > button:hover {
    background-color: #dfdfdf;
  }

  .popup-list > button > img {
    max-height: 30px;
    max-width: 30px;
  }

  .popup-circle {
    top: -50px;

    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 3px dotted rgb(0, 0, 0);
  }

  .overlay {
    height: 1200px;
    width: 1600px;
    z-index: 10;
    display: grid;
    opacity: 0.4;
    grid-template-columns: repeat(50, 2fr);
    /* grid-template-rows: repeat(50, 2fr); */
    cursor: crosshair;
  }

  .overlay > div {
    z-index: 100;
    /* border: 1px solid black; */
  }

  .hide {
    display: none;
  }

  .char-list {
    position: absolute;
  }

  /* .overlay > div:active {
  border: 4px solid rgb(0, 89, 255);
  border-radius: 80px;
  height: 40px;
  width: 40px;
} */

  .game-over {
    top: 87%;
    left: 37%;
    background-color: white;
    position: absolute;
    width: 400px;
    height: 150px;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 50;
    border-radius: 20px;
    background-image: linear-gradient(45deg, #0250ff63, #ffffff, #ff000047);

    box-shadow: 1px 1px 2px 2px #888888, 2px 2px 20px #888888;
  }

  .game-over > p {
    font-family: monospace;
    font-size: 25px;
  }

  .home-button,
  .leader-board-button {
    align-items: center;
    background-image: linear-gradient(45deg, #ff0000, #ffffff, #0250ff);
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    color: black;
    font-weight: 900;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 15px;
    justify-content: center;
    line-height: 1em;
    height: 40px;
    width: 140px;
    padding: 19px 24px;
    cursor: pointer;
  }

  .header-right {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }

  .popup-list > button {
    font-family: monospace;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .leader-board-button {
    background-image: linear-gradient(45deg, #0250ff, #ffffff, #ff0000);
  }
}
